#canvas{
        border-color:black;
    border-width:10px;
    border-style:solid;
    background-color: #000000;
}

#contenedor{

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

body{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

#instrucciones{
    margin:10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}